* {
    margin:0px;
    padding:0px;
    font-family: Century;
}
.header {
   background-image: url(entrepreneur-gdf49f7273_1280.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;


}
.main ul {
    color: black;
    display: flex;
   margin: 10px;
}